    body{
        background-color: #e2e5f0
    }
    .fb-header-base{
        width:100%;
        height:60px;
        position:absolute;
        top:-5px;
        left:0;
        color:white;
        Z-index:7;
        font-family:verdana;
       
    }
    .fb-header{
        width: 100%;
        height: 90px;
        position: absolute;
        background: #3d5b99;
        top:0;
        left:0;
        color:white;
        z-index:7;
        font-family: verdana;
    }
    #form1{
        left:750px;
        height:60px;
        width:180px;
        top:20px;
        font-family:verdana;
        font-size:12px;  
    }
     #form2{

         left:940px;
         height:60px;
         width:250px;
         top:20px;
         font-family:verdana;
         font-size:12px;
     }
     .submit1{
         right:10px;
         top:15px;
         background:#5b7bc0;
         color:white;
         position:absolute;
        z-index:20;
         height:22px;
         width:50px;
         cursor:pointer;
     }

    .fb-body{
        position:absolute;
        left:0px;
        top:150px;
        width:100%;
        height:645px;
    }
    #intro1{
        left:178px;
        top:20px;
        font-family:verdana;
        font-size:20px;
        color:#142170;
        height:75px;
        width:550px;
    }
    #intro2{
        left:750px;
        top:20px;
        font-family:verdana;
        font-size:30px;
        color: #000;
        font-weight: bold;
        height: 75px;
        width: 500px;
    }
    #img2{
        top: 130px;
        left: 178px;
        width: 537px;
        height:195px;

    }
    #intro3{
        left: 750px;
        top:70px;
        font-family: Verdana;
        font-size: 18px;
        color: #000;
        height: 50px;
        width: 300px;

    }
    #form3{
        top: 120px;
        left: 750px;
        font-family: Verdana;
        font-size: 20px;
        color:#142170;
        width:600px;
        height: 459px;
    }
    #namebox{
        width: 200px;
        height: 20px;
        border-radius: 5px 5px 5px 5px ;
        background: white;
        padding:10px;
        font-size:18px;
        margin-top:8px;
        border-width:  1px;
        border-style:solid;
        border-color: gray;
        
    }
 #mailbox{
    width: 408px;
        height: 20px;
        border-radius: 5px 5px 5px 5px ;
        background: white;
        padding:10px;
        font-size:18px;
        margin-top:8px;
        border-width:  1px;
        border-style:solid;
        border-color: gray;
 }
 .button2{
     width: 250px;
     height: 40px;
     left: 750px;
     top: 625px;
     background: green;
     font-family: verdana;
     font-size:18px;
     color:white;
     border-radius:5px 5px 5px 5px;
     border-width: 1px;
     border-style: solid;
     border-color: gray;
     cursor: pointer;
     outline: none;

 }
 #intro4{
     font-family: verdana;
     font-size: 12px;
     color: gray;

 }

 #intro5{
     font-family: verdana;
     font-size: 14px;
     color: gray;
     
 }
 .fb-body-footer{
     width: 100%;
     position: absolute;
     left: 0px;
     height: 100px;
     background: white;
     top:850px;

 }
 #fb-body-footer-base{
     width: 900px;
     top:15px;
     left:200px;
     color: blue;
     height: 80px;
 }
#logo{
    top:5;
    left:10;
}